---
// @ts-ignore
import { Icon } from 'astro-icon/components';

const features = [
  {
    title: '高品質の理由',
    description:
      "Astroフレームワーク上で蓄積した高品質のWebコンポーネントを再利用します。安定した機能はそのままにデザインは御社のご希望どおりにカスタマイズ可能となります。",
    icon: 'bx:bxs-briefcase',
  },
  {
    title: '低価格の理由',
    description:
      '開発効率を重要視しています。Webコンポーネントの再利用、Tailwindによるデザインシステム活用、CI/CDによるデプロイなどの効率化が低価格を可能にしました。',
    icon: "bx:dollar",
  },
  {
    title: 'セキュアの理由',
    description:
      'Vercel社の提供するホスティングサービスを利用します。一般的なWordPress運用などと比較しサーバー構築/運用時のセキュリティ負荷が激減します。 ',
    icon: 'bx:bxs-lock',
  },
];
---

<div class="grid grid-cols-1 place-items-center mt-1 md:mt-10">
  <h2 class="text-2xl lg:text-5xl md:text-xl font-bold lg:tracking-tight">
    高品質・低価格・セキュア<br />
  </h2>
  <h2 class="text-2xl lg:text-5xl md:text-xl font-bold lg:tracking-tight">
    Webサイト制作
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    猫の髭は古来より幸運のシンボルでした。弊社はお客様のさらなるビジネスチャンス獲得をお手伝いたします
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-gray-600 rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-orange-400" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{' '}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
