---
import { Picture } from 'astro:assets';
// import DrawerHeader from '../components/Drawer-header.astro';
import DrawerNav from './drawer-nav.astro';
import { menuItems } from '@assets/constants.astro';
import nekohigeLogo from '@assets/nekohigeLogo.webp';
interface Props {
  title: string;
}

const { title } = Astro.props;
---
<div x-data="{open:false}">
  <div x-on:scroll.window.once="open= !open">
    <div x-show="open">
<header
  class="container z-20 bg-white opacity-80 pt-5 fixed left-0 right-0 top-0 max-w-full">
  <div class="header">
    <Picture src={nekohigeLogo} alt='猫髭ロゴ"' class="w-8 ml-3 mb-1" />
    <p></p>

    {
      menuItems.map((item) => (
        <a
          href={item.link}>
          {item.title}
        </a>
      ))
    }
  </div>
  <div class="navi">
    <!-- <DrawerHeader /> -->
    <DrawerNav />
  </div>
</header>
</div>
</div>
</div>

<style>
  .container {
    display: grid;
    grid-template-columns: 15% 1fr 15%;

  }

  .header {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-flow: column;
    align-items: center;
    gap: 10px;

    @media (max-width: 496px) {
      grid-column: 1 / 3;
      grid-template-columns: auto 0px 1fr;
    }
  }

  a {
    text-decoration: none;
    @media (max-width: 496px) {
      display: none;
    }
  }

  h2 {
    margin-top: 0px;
    font-size: 2rem;
    font-weight: bold;
    @media (max-width: 496px) {
      font-size: 1.5rem;
    }
  }

  p {
    margin: 1px;
    color: rgb(27, 25, 25);
  }

  .navi {
    display: none;
    @media (max-width: 496px) {
      display: flex;
      justify-self: end;
      margin-right: 10px;
    }
  }
</style>
