---
import Picture from 'astro/components/Picture.astro';
import nekohigeLogo from 'assets/nekohigeLogo.webp';
import heroImage from '@assets/hero-two-cats.png';
---

<main>
  <div class="hero-grid">
    <div class="hero-pict">
      <Picture src={heroImage} alt="two-cats" />
    </div>
    <div class="hero-logo fade-in">
      <Picture src={nekohigeLogo} alt="nekohige" />
    </div>
  </div>
</main>

<style>
  .hero-grid {
    display: grid;
    grid-template-columns: 15% 1fr 15%;
  }

  .hero-pict {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .hero-logo {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    z-index: 1;
    width: 30svh;
    align-self: center;
    justify-self: center;
    background-color: rgba(255 255 255 /0.9);
    @media (max-width: 640px) {
      width: 20svh;
    background-color: rgba(255 255 255 /0.8);
    }
  }

  /*フェードイン*/
  .fade-in {
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 2.5s;
    animation-timing-function: cubic-bezier();
    animation-fill-mode: forwards;
    animation-delay: 0.8s;
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
      /* transform: translateY(); */
    }
    100% {
      opacity: 1;
      /* transform: translateY(0); */
    }
  }
</style>
