---
// @ts-ignore
import { Icon } from 'astro-icon/components';
---

<div class="mt-24 bg-slate-300">
  <h2 class="text-center text-black">制作環境について</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Icon class="size-8 md:size-12 text-zinc-600" name="simple-icons:astro" />
    <Icon
      class="size-8 md:size-16 text-zinc-600"
      name="simple-icons:tailwindcss"
    />
    <Icon
      class="size-8 md:size-16 text-zinc-600"
      name="simple-icons:alpinedotjs"
    />
    <Icon class="size-8 md:size-12 text-zinc-600" name="simple-icons:svelte" />
    <Icon class="size-8 md:size-12 text-zinc-600" name="simple-icons:vercel" />
  </div>
</div>
